<div *ngIf="user">
  <div class="row">
    <div class="col">
      <div class="media">
        <img
          class="rounded-circle mr-3"
          id="profilePicture"
          src="{{ user.profilePicture }}"
          alt="profilePicture"
          *ngIf="user"
        />
        <div class="media-body" *ngIf="user">
          <h5 class="mt-0">{{ user.name }}</h5>
          <p>{{ user.email }}</p>
        </div>
      </div>
    </div>
    <div class="col align-self-center" *ngIf="user.state != 'owner'">
      <button id="btn-follow" class="btn btn-primary" (click)="follow()">
        follow
      </button>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <p
        id="postTab"
        class="nav-link"
        [ngClass]="{ active: tab == 1 }"
        (click)="toggle(1)"
      >
        Posts: {{ user.posts.length }}
      </p>
    </li>
    <li class="nav-item">
      <p
        id="followingTab"
        class="nav-link"
        [ngClass]="{ active: tab == 2 }"
        (click)="toggle(2)"
      >
        Following: {{ user.following.length }}
      </p>
    </li>
    <li class="nav-item">
      <p
        id="followerTab"
        class="nav-link"
        [ngClass]="{ active: tab === 3 }"
        (click)="toggle(3)"
      >
        Follower: {{ user.follower.length }}
      </p>
    </li>
  </ul>
  <div *ngIf="tab === 1">
    <div *ngFor="let post of user.posts">
      <app-post-preview [post]="post"></app-post-preview>
      <hr />
    </div>
  </div>
  <div *ngIf="tab === 2">
    <div *ngFor="let user of user.following">
      <app-user-preview [user]="user"></app-user-preview>
    </div>
  </div>
  <div *ngIf="tab === 3">
    <div *ngFor="let user of user.follower">
      <app-user-preview [user]="user"></app-user-preview>
    </div>
  </div>
</div>
