<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h2>Login</h2>
    </div>
    <hr />
    <form>
      <div class="form-group">
        <label>Username</label><br />
        <input
          class="form-control"
          type="text"
          (input)="onUpdateUserName($event.target.value)"
        />
      </div>
      <div class="form-group">
        <label>Password</label><br />
        <input
          class="form-control"
          type="password"
          (input)="onUpdatePassword($event.target.value)"
        />
      </div>
      <button class="btn btn-primary" type="button" (click)="onLogin()">
        Login
      </button>
    </form>
  </div>
</div>
