div {
    margin: auto;
    margin-top: 10px;
    width: 50%;
}

@media only screen and (max-width: 900px) {
  div {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
    div {
      width: 95%;
    }
  }